.solanaInformationContent {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.solanaLatestClass {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.TPS {
    display: flex;
    justify-content: center;
}