.tokenContent {
    padding: 15px;
}

.tokenWidth {
    min-width: 223px;
}

.symbolWidth {
    min-width: 120px;
}

.priceWidth {
    min-width: 178px;
}

.tokenDashboard {
    background-color: #282828;
    text-align: start;
    border-radius: 13px;
    border: 1px solid #e5e7eb29;
    margin-top: 20px;
    min-width: 689px;
}

.imageDashboardToken {
    width: 30px;
    margin: 0px 10px 0px 0px;
    border-radius: 10px;
}

.tokenInfoStyle {
   padding: 10px 0px;
   border-bottom: 1px solid #e5e7eb29;
}