.displayFlex {
    display: flex;
}

.signature {
    width: 239px;
}

.time {
    width: 117px;
}

.block {
    width: 117px;
}

.transactionsInformation {
    background-color: #282828;
    text-align: start;
    border-radius: 13px;
    border: 1px solid #e5e7eb29;
    margin-top: 20px;
    min-width: 689px;
}

.containerInformation {
    padding: 20px;
}

.signatureContent {
    width: 205px;
    margin-left: 10px;
}

.timeContent {
    width: 116px;
}

.blockContent {
    width: 117px;
}

.signature-content {
    padding: 7px 0px 7px 0px;
    border-bottom: 1px solid rgba(90, 90, 90, 0.741);
}