.exploreContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
}

.inputExplore {
    width: 800px;
    height: 49px;
    font-size: 13px;
    padding: 10px;
    background-color: black;
    border: none;
    border-radius: 9px;
}

.sponsoredStyle {
    padding: 15px 0px;
    font-weight: 600;
}

.exploreMore {
    color: rgba(0, 195, 255, 0.623);
}