.defiDashboardContent {
    background-color: #282828;
    text-align: start;
    border-radius: 13px;
    border: 1px solid #e5e7eb29;
    margin-top: 20px;
    min-width: 689px;
}

.defiDashboard {
    padding: 15px;
}

.firstContentOfDefi {
    display: flex;
}