.AMM {
    min-width: 163px;
}

.volume24H {
    min-width: 312px;
}

.volumeInfoStart {
    display: flex;
}

.volumeInformationSection {
    display: flex;
    align-items: center;
}

.AMM-width {
    min-width: 163px;
}

.volumePhoto {
    width: 24px;
    margin: 0px 10px 0px 0px;
}

.padding-volume {
    padding: 10px 0px;
    border-bottom: 1px solid rgba(90, 90, 90, 0.741);
}